<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title "Dojos" %></title>
</head>
<body>
    <div class="container">
        <h1 class="row mt-5 mb-3 mx-0">Listing <%= Dojo.all.length %> Dojos</h1>

        <table class="table table-striped table-bordered table-condensed mb-2">
            <tr>
                <th><%= link_to "Coding Dojo Branch", :sort => "sucursal"%> </th>
                <th><%= link_to "Street", :sort => "calle"%> </th>
                <th><%= link_to "City", :sort => "ciudad"%> </th>
                <th><%= link_to "State", :sort => "estado"%> </th>
                <th><p>Actions</p></th>

            </tr>
            <% @dojos.each do |dojo| %>
            <tr>
                <td><%= dojo.sucursal %></td>
                <td><%= dojo.calle %></td>
                <td><%= dojo.ciudad %></td>
                <td><%= dojo.estado %></td>
                <td><%= link_to "Show", "/dojos/" + dojo.id.to_s %> | <%= link_to "Edit", "/dojos/" + dojo.id.to_s + "/edit"%> | <%= button_to "Destroy", "/dojos/" + dojo.id.to_s , method: 'delete', class:"btn btn-link text-dark" %></td>

            </tr>
            <% end %>
        </table>
        <%= link_to "New Dojo","/dojos/new"%>
    </div>
</body>
</html>

